mpmath==0.19
numpy==1.12.0
path.py==10.1
pyparsing==2.1.10
scipy==0.18.1
six==1.10.0
sympy==1.0
toolz==0.8.2
sym_dict==0.2.2
coolname==0.2.1
theano==0.9.0
nose_parameterized==0.5.0
bokeh==0.12.4
visdom==0.1.1
sphinxcontrib.napoleon==0.6.1
sphinx_rtd_theme==0.2.4
recommonmark==0.4.0
